name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: prepare
      run: |
        mkdir -p build
        cd build
        cmake ..

    - name: build
      run: |
        cd build
        make -j

    # Tests and format are run on native build
    - name: tests
      run: |
        cd build
        ctest -V

    - name: check-format
      run: |
        cd build
        make check-format

  build-stm32:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Toolchain
      uses: fiam/arm-none-eabi-gcc@master
      with:
        release: '9-2020-q2' # The arm-none-eabi-gcc release to use.

    - name: prepare
      run: |
        mkdir -p build
        cd build
        cmake -D CMAKE_TOOLCHAIN_FILE=../cmake/stm32_f429zi_gcc.cmake ..

    - name: build
      run: |
        cd build
        make -j
